NODE_ENV=development
PORT=3000

FRONTEND_PUBLIC_URL=http://localhost:5173
GMAIL_USER=carecircle.quantic@gmail.com
GMAIL_APP_PASSWORD="bvss zjea oast unkg" # ensure it is put inside quotes
MAIL_FROM=carecircle.quantic@gmail.com
MAIL_FROM_NAME=CareCircle

SUPABASE_URL=http://localhost:54321
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4a3dlcHlqcWZ3anpuc2V0a2NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyODIzNjQsImV4cCI6MjA5Mjg1ODM2NH0.Hsi2tQDlHYW5B1Nh-xdHyaWRyxGhB-b-Sk9dZ5S9CcI
GROQ_API_KEY=grq_x9J7R3z4kQp0NzUqMhCxGgJtA46t93w7
